.submit__form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #000;
}

.phonebook__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 600;
}

.phonebook__input {
  margin-top: 10px;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.add__button {
  width: 100px;
  border: 1px solid #000;
  border-radius: 5px;
}

.add__button:hover,
.add__button:focus,
.add__button:active {
  background-color: limegreen;
  color: aliceblue;
  cursor: pointer;
  border: 1px solid limegreen;
}
