.contacts__item {
  display: flex;
  margin-bottom: 10px;
  font-weight: 500;
  align-items: flex-end;
}

.contact__name {
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
}

.contact__number {
  margin-right: 30px;
}

.contact__delete {
  width: 60px;
  border: 1px solid #000;
  border-radius: 5px;
}
.contact__delete:hover,
.contact__delete:focus,
.contact__delete:active {
  background-color: red;
  color: aliceblue;
  cursor: pointer;
  border: 1px solid red;
}

.icon {
  size: 30px;
}
